<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
        <form
          class="text-center border border-primary p-5"
          style="margin-top:70px;height:auto;padding-top:100px !important;"
          @submit.prevent="registerUser"
        >
          <input
            type="text"
            id="name"
            class="form-control mb-5"
            placeholder="Name"
            v-model="register.name"
            required
          />
          <input
            type="email"
            id="email"
            class="form-control mb-5"
            placeholder="Email"
            v-model="register.email"
            required
          />
          <!-- Password -->
          <input
            type="password"
            id="password"
            class="form-control mb-5"
            placeholder="Password"
            v-model="register.password"
          />
          <p>
            Already have an account??<router-link to="/"
              >click here</router-link
            >
            <transition name="hint" appear>
              <div v-if="passwordValidation.errors.length > 0" class="hints">
                <h5>Passsword</h5>
                <p v-for="error in passwordValidation.errors" :key="error">{{ error }}</p>
              </div>
            </transition>
            <!-- Sign in button -->
            <center>
              <button
                class="btn btn-primary btn-block w-75 my-4"
                type="submit"
                v-if="passwordValidation.valid"
              >
                Sign in
              </button>
            </center>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import swal from 'sweetalert'
export default {
  data () {
    return {
      register: {
        name: '',
        email: '',
        password: ''
      },
      rules: [
        { message: 'One lowercase letter required.', regex: /[a-z]+/ },
        { message: 'One uppercase letter required.', regex: /[A-Z]+/ },
        { message: '8 characters minimum.', regex: /.{8,}/ },
        { message: 'One number required.', regex: /[0-9]+/ }
      ]
    }
  },
  computed: {
    passwordValidation () {
      let errors = []
      for (let condition of this.rules) {
        if (!condition.regex.test(this.register.password)) {
          errors.push(condition.message)
        }
      }
      if (errors.length === 0) {
        return { valid: true, errors }
      } else {
        return { valid: false, errors }
      }
    }
  },
  methods: {
    async registerUser () {
      try {
        if (this.register.password.length < 8) {
          return swal('Error', 'Please check your password', 'error')
        } else {
          const response = await this.$http.post(
            '/user/register',
            this.register
          )
          console.log(response)
          const token = response.data.token
          if (token) {
            localStorage.setItem('jwt', token)
            this.$router.push('/')
            swal('Success', 'Registration Was successful', 'success')
          } else {
            swal('Error', 'Something Went Wrong', 'error')
          }
        }
      } catch (err) {
        const error = err.response
        if (error.status === 409) {
          swal('Error', error.data.message, 'error')
        } else {
          swal('Error', error.data.err.message, 'error')
        }
      }
    }
  }
}
</script>
